.container {
  position: relative;
  height:810px;
  width:1296px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Cuprum', sans-serif;
  color: white;
}

.enable-volume {
  z-index: -2000;
}

.disable-volume {
  z-index: -2000;
}

.score {
  z-index: 500;
}

.volume-control {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 25px;
  left: 15px;
  border-bottom: 1px solid #ffffff;
}

.volume-control:hover {
  cursor: pointer;
}

.score-label {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50px;
  left: 15px;
  z-index: 150;
}

.life-img {
  width: 50px;
  top: 85px;
  left: 15px;
  position: relative;
  z-index: 150;
}

.background-img {
  z-index: -99;
  width: 100%;
  height: 100%;
}

#game-canvas {
  position: absolute;
  z-index: 99;
  top: 0px;
}

.start-game-cont {
  position:fixed;
  top: 30%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}

.start-game {
  position: relative;
  font-size: 50px;
}

.new-game {
  position: relative;
  display: block;
  top: 100px;
  font-size: 30px;
}

.new-game:hover {
  cursor: pointer;
}
